* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-background-color-1: #EBEEE9;
    --page-background-color-2: #fff;
    --linear-background: linear-gradient(to right, #8EDB09, #FFF000);
    --text-color: #2C2C2C;
}

body {
    background-color: var(--page-background-color);
    overflow-x: hidden;
    font-family: "Switzer", sans-serif;
}

section,
header,
footer {
    padding: 0 100px;
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    font-family: "Switzer", sans-serif;
}

button,
a {
    cursor: pointer;
    font-family: "Switzer", sans-serif;
}

.linear-btn-style {
    background: var(--linear-background);
    width: 165px;
    height: 50px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: all .6s;
}


.linear-btn-style:hover {
    background: linear-gradient(to left, #8EDB09, #FFF000);
}

.white-btns {
    border: 1px solid var(--first-color);
    transition: all .6s;
    width: 110px;
    height: 50px;
}

.white-btns:hover {
    background-color: var(--page-background-color-2);
}

@media (max-width:750px) {
    body {
        overflow-x: hidden;
        width: 100%;
        box-sizing: border-box;
    }

    section,
    header,
    footer {
        padding: 0 15px;
        width: auto;
    }

    .white-btns {
        width: 64px;
        height: 29px;
        font-size: 10px;
    }

    .linear-btn-style {
        font-size: 10px;
        background: var(--linear-background);
        width: 90px;
        height: 29px;
        border-radius: 24px;
        border: none;
        cursor: pointer;
        transition: all .6s;
    }

}