@import url('https://fonts.googleapis.com/css2?family=Switzer:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-background-color-1: #EBEEE9;
    --page-background-color-2: #fff;
    --linear-background: linear-gradient(to right, #8EDB09, #FFF000);
    --text-color: #2C2C2C;
}

body {
    background-color: var(--page-background-color);
    overflow-x: hidden;
    font-family: "Switzer", sans-serif;
}

section,
header,
footer {
    padding: 0 100px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    font-family: "Switzer", sans-serif;
}

button,
a {
    cursor: pointer;
    font-family: "Switzer", sans-serif;
}

.linear-btn-style {
    background: var(--linear-background);
    width: 165px;
    height: 50px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}