.footer {
    background-color: var(--page-background-color-1);
    color: #333;
    padding: 41px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.footer-left {
    display: grid;
    gap: 10px;
    width: 505px;
    height: 179px;
}



.subscribe-title {
    font-size: 20px;
    font-weight: bold;
}

.subscribe-text {
    font-size: 16px;
    margin-bottom: 15px;
    color: #2c2c2cbd;
}

.subscribe-form {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe-form input {
    flex: 1;
    width: 505px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.subscribe-form button {
    position: absolute;
    right: 10px;
    border: none;
    height: 40px;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.privacy-text {
    font-size: 14px;
    color: #2c2c2cc1;
    margin-top: 10px;
}

.privacy-text a {
    color: #333;
    text-decoration: underline;
}

.footer-links {
    display: flex;
    gap: 60px;
    margin: 30px 50px 0 0;
}

.footer-column {
    display: grid;
    gap: 10px;
    width: 122px;
}

.footer-column h4 {
    font-size: 18px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 8px 0;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333333bc;
    font-size: 16px;
    transition: 0.3s;
}

/* 
.footer-column ul li a:hover {
    color: #57a500;
} */

/* الجزء السفلي للفوتر */
.footer-bottom {
    border-top: 1px solid #d1d5cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    margin-top: 38px;
}

.footer-bottom p {
    font-size: 15px;
    color: #2c2c2cba;
}

/* أيقونات السوشيال ميديا */
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.social-icons i {
    font-size: 20px;
    opacity: 0.7;
    transition: 0.3s;
}

.show-icon {
    display: none;
}

@media (max-width:700px) {
    .show-icon {
        display: flex;
    }

    .footer {
        width: 100%;
        padding-top: 41px;
        padding-bottom: 41px;
        padding: 20px;
    }

    .footer-container {
        justify-content: start;
        padding-bottom: 0;
    }

    .footer-left {
        display: grid;
        gap: 10px;
        width: 100%;
        height: auto;
    }



    .subscribe-title {
        font-size: 16px;
    }

    .subscribe-text {
        font-size: 10px;
        margin-bottom: 3px;
    }

    .subscribe-form {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .subscribe-form input {
        width: 100%;
        height: 37px;
    }

    .subscribe-form button {
        height: 31px;
    }

    .privacy-text {
        font-size: 12px;
    }



    .footer-links {
        display: block;
        justify-content: start;
        align-items: start;
        margin-top: 50px;
        width: 100%;
        padding: 0px 10px;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-column h4 {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .footer-column ul {
        display: none;
    }

    .footer-bottom {
        margin-top: 0px;
    }

    .foot .footer-bottom p {
        font-size: 12px;
    }


    .social-icons i {
        font-size: 18px;
    }

}