@font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer_Complete/Fonts/OTF/Switzer-Semibold.otf') format('woff2'),
        url('../fonts/Switzer_Complete/Fonts/OTF/Switzer-Semibold.otf') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer_Complete/Fonts/OTF/Switzer-Extralight.otf') format('woff2'),
        url('../fonts/Switzer_Complete/Fonts/OTF/Switzer-Extralight.otf') format('woff');
    font-weight: 200;
    font-style: normal;
}

.hero {
    background-color: var(--page-background-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 136px;
}

.hero p,
.hero h1 {
    font-size: 34px;

}

.hero h1 {
    padding-bottom: 20px;
    font-weight: 500;
    color: var(--text-color);
    word-spacing: 5px;
}


.hero-text {
    position: relative;
    display: inline-block;
    width: 80%;
}


.hero-text p {
    position: relative;
    line-height: 57px;
    margin-bottom: 50px;
    font-weight: 200;
    word-spacing: 10px;
}

.highlight {
    position: relative;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 5px;
    /* زيادة المسافة بين النص والخط */
}

.highlight::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    /* رفع الخط قليلاً للأعلى */
    width: 100%;
    height: 15px;
    /* زيادة ارتفاع الخط لتجنب القص */
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 20"><path d="M5 12 Q 40 -4, 70 9 T 130 12" stroke="%2382c965" stroke-width="4" fill="none" stroke-linecap="round"/></svg>') no-repeat center;
    background-size: contain;
}

.email-form {
    margin-bottom: 70px;
}

.email-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.email-form .input-div {
    width: 525px;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
    padding: 13px 20px;
}

.email-form .input-div input {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    outline: none;
}

@media (max-width:750px) {
    .hero {
        padding: 90px 0;
    }


    .hero p {
        font-size: 15px;
        word-spacing: normal;
        line-height: 35px;
    }

    .hero h1 {
        font-size: 15px;
        color: #2C2C2C;
        word-spacing: normal;
    }


    .hero-text {
        position: relative;
        display: inline-block;
    }



    .highlight {
        font-weight: 300;
    }

    .highlight::after {
        bottom: 0px;
    }


    .email-form form {
        display: block;
        margin-top: 82px;
    }

    .email-form .input-div {
        margin-bottom: 22px;
        width: 45vh;
    }

    .email-form button {
        width: 100%;
        height: 50px;
    }

    .hero-image img {
        width: 75%;
        height: auto;
        margin-top: 111px;
    }
}